@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@theme {
  --color-red: #dc3728;
  --color-dark-gray: #0a0f1a;
}

html,
body,
#root {
  font-family: "Poppins", sans-serif;
  @apply h-full m-0 p-0 bg-dark-gray text-gray-100 antialiased;
}
